.title-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #707070;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-pref-width: 44px;
    -fx-pref-height: 36px;
}

.title-btn:hover {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #191919;
}

.close-btn:hover {
    -fx-background-color: #e53238;
    -fx-text-fill: white;
}